
<div>
    <h1>Quantas Xícaras?</h1>
    <h3>Conversor de unidade de medidas culinárias</h3>
</div>

<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
        <label for="ingrediente">Ingrediente: </label>
        <select class="form-control form-select" name="ingrediente" id="ingrediente"
        ngModel required>
            <option *ngFor="let ingrediente of ingredientes; let i = index" 
            [value]="i">{{ingrediente.nome}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="quantidade_entrada">Quantidade: </label>
        <input class="form-control" type="number" name="quantidade_entrada" 
        ngModel required>
    </div>

    <div class="form-group">
        <label for="unidade_entrada">Unidade de entrada: </label>
        <select class="form-control form-select" name="unidade_entrada" 
        ngModel required>
            <option value="1">gramas</option>
            <option value="2">mililitros</option>
            <option value="3">xícaras (240ml)</option>
            <option value="4">colheres de sopa (15ml)</option>
            <option value="5">colheres de chá (5ml)</option>
        </select>
    </div>

    <div class="form-group">
        <label for="unidade_saida">Unidade de saída: </label>
        <select class="form-control form-select" name="unidade_saida"
        ngModel required>
            <option value="1">gramas</option>
            <option value="2">mililitros</option>
            <option value="3">xícaras (240ml)</option>
            <option value="4">colheres de sopa (15ml)</option>
            <option value="5">colheres de chá (5ml)</option>
        </select>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Converter</button>
    </div>
    
    <div class="form-group">
        <input class="form-control" type="text" id="quantidade_saida" 
        [value]="valorConvertido" readonly>
    </div>

</form>

