<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">Quantas Xícaras?</a>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active">
            Conversor
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ingredientes" routerLinkActive="active">
            Lista de Ingredientes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/novo-ingrediente" routerLinkActive="active">
            Novo Ingrediente
          </a>
        </li>
      </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>